{% extends "base.html" %}
{% load media_tag %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Контактная информация</h1>
        </div>
        <hr>
        </div>
        <div class="container text-center">
            <div class="card w-50 p-3">
                <div class="card-body">
                    <h5 class="card-title">Ваша компания на карте</h5>
                </div>
                <div class="ratio ratio-1x1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d356933.8714888409!2d10.413661869378636!3d45.65994086120074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4781eca8aec020b9%3A0x91dcf07c1c969bb8!2sGarda!5e0!3m2!1spl!2spl!4v1672244147501!5m2!1spl!2spl"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-4">
        <hr>
        <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom1"
                aria-controls="offcanvasBottom1">Адрес компании
        </button>

        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom1"
             aria-labelledby="offcanvasBottomLabel1">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel1">Адрес компании ниже</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
            </div>
            <div class="offcanvas-body small">
                Здесь будет адрес вашей компании
            </div>
        </div>
        <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom2"
                aria-controls="offcanvasBottom2">Контактная информация
        </button>

        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom2"
             aria-labelledby="offcanvasBottomLabel2">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel2">Контакты компании ниже</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
            </div>
            <div class="offcanvas-body small">
                Вы можете связаться с нами по телефону --> +x-(xxx)-xxx-xx-xx или по почте --> xxxxxxxx@xxxx.xx
            </div>
        </div>
        <div>
            <a class="btn btn-primary" href="{% url 'medicine:feedback_create' %}" role="button">Ссылка</a>
        </div>
    </div>
</div>
{% endblock %}